#game {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

h1 {
    text-align: center;
}

#shipLists{
    margin-left: 50px;
}

#shipLists,
#chaosShips,
#result {
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

#shipLists:last-child,
#chaosShips:last-child,
#result:last-child {
    margin-right: 0;
}
