#game {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

#back{
position: absolute;
margin-left:55px;
}

#shipLists{
    margin-left: 55px;
}

#shipLists,
#chaosShips,
#result {
    margin-top: 30px;
    margin-right: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border:1px solid black;
}

#result{
    width: 250px
}

#shipLists:last-child,
#chaosShips:last-child,
#result:last-child {
    margin-right: 0;
}
