#game {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

#buttons {
    display: flex;
}

#shipLists,
#chaosShips,
#result {
    margin-top: 15px; /* Adjust the margin-top value as needed */
    margin-right: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px; /* Adjust the padding value as needed */
    border-radius: 5px;
    border: 1px solid black;
}

#result {
    width: 250px;
}

#shipLists:last-child,
#chaosShips:last-child,
#result:last-child {
    margin-right: 0;
}


