<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dice Game</title>
    <link rel="stylesheet" type="text/css" href="/css/game.css">
</head>
<body>
<div id="buttons">
    <button id="back" onclick="window.location.href='/index'">Back to main page</button>
    <button id="readme" onclick="window.location.href='/FirstGame'">Game manual</button>
</div>
    <div id="game">
    <div id="shipLists">
        <form method="POST" action="/game">
            <h2>Your Ships:</h2>
            <ul class="ship-list">
                <li th:each="ship : ${ships}">
                    <button type="submit" name="shipId" th:value="${ship.id}" th:text="${ship.title}"></button>
                </li>
            </ul>
        </form>
    </div>
    <div id="result" th:if="${result}">
        <h2>Result:</h2>
        <p>Your ship: <span th:text="${playerShip?.title}"></span> attacks for <span th:text="${userDiceRoll}"></span></p>
        <p>Computer's ship: <span th:text="${computerShip?.title}"></span> attacks for <span th:text="${computerDiceRoll}"></span></p>
        <p th:text="${result}"></p>
    </div>
        <div id="chaosShips">
            <h2>Chaos Ships:</h2>
            <ul class="ship-list">
                <li th:each="ship : ${chaosShips}">
                    <span th:text="${ship.title}"></span>
                </li>
            </ul>
        </div>
</div>
</body>
</html>