<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Ship types</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<section>
    <div class="container">
        <div class="row">

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th colspan="4">
                        <button class="btn btn-secondary" onclick="location.href='/create'">Create new Ship</button>
                        <button class="btn btn-secondary" onclick="location.href='/game'">Play game</button>
                    </th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Manufacturer</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ship: ${ships}">
                    <th scope="row" th:text="${ship.getId()} + '.'"></th>
                    <td>
                      <a th:href="'/delete/' + ${ship.getId()}" th:text="${ship.getTitle()}"></a>
                    <td>
                        <a th:href="'/user/' + ${ship.getType().name().toLowerCase()}" th:text="${ship.getType().label}"></a>
                    </td>
                    <td>
                        <a th:href="${'/ships/' + ship.getUser().name().toLowerCase()}" th:text="${ship.getUser().label}"></a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</section>
</body>
</html>